In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
df1= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-1996-to-31-12-1997.csv')

In [7]:
df2= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-1998-to-31-12-1999.csv')

In [8]:
df3= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2000-to-31-12-2001.csv')

In [9]:
df4= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2002-to-31-12-2003.csv')

In [10]:
df5= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2004-to-31-12-2005.csv')

In [11]:
df6= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2006-to-31-12-2007.csv')

In [12]:
df7= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2008-to-31-12-2009.csv')

In [13]:
df8= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2010-to-31-12-2011.csv')

In [14]:
df9= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2012-to-31-12-2013.csv')

In [15]:
df10= pd.read_csv('Quote-Equity-TATAMOTORS-EQ-01-01-2014-to-31-12-2015.csv')

In [16]:
frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]

In [17]:
frames1 = [df1,df2,df3]

In [18]:
result = pd.concat(frames1)

In [19]:
result.columns

Index(['Date ', 'series ', 'OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ',
       'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades '],
      dtype='object')

In [20]:
result.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,31-Dec-1997,EQ,296.25,305.00,292.25,295.50,-,297.75,299.81,469.55,253.15,1350100,"404,774,877.50",NaN
1,30-Dec-1997,EQ,304.05,313.40,292.05,300.60,-,295.50,305.03,469.55,253.15,3409150,"1,039,903,982.50",NaN
2,29-Dec-1997,EQ,277.90,303.75,275.30,276.10,-,300.60,289.64,469.55,253.15,2232600,"646,655,395.00",NaN
3,26-Dec-1997,EQ,274.00,278.95,272.10,273.50,-,276.10,275.14,469.55,253.15,657350,"180,866,500.00",NaN
4,24-Dec-1997,EQ,277.00,277.40,268.15,281.60,-,273.50,271.56,469.55,253.15,716250,"194,503,812.50",NaN

In [21]:
result['Date '] = pd.to_datetime(result['Date '], errors='coerce')

In [22]:
result = result.sort_values(by='Date ')

In [23]:
result

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
493,1996-01-01,EQ,378.00,380.00,377.50,379.80,-,380.00,378.94,-,-,7800,"2,955,715.00",NaN
492,1996-01-02,EQ,380.00,383.90,376.00,380.00,-,377.80,380.09,-,-,19350,"7,354,800.00",NaN
491,1996-01-03,EQ,377.80,380.00,376.25,377.80,-,376.55,378.43,-,-,5700,"2,157,065.00",NaN
490,1996-01-04,EQ,376.55,377.00,371.50,376.55,-,373.70,374.62,-,-,20100,"7,529,930.00",NaN
489,1996-01-05,EQ,373.70,374.80,371.00,373.70,-,372.35,372.60,-,-,12000,"4,471,250.00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2001-12-24,EQ,96.40,98.00,94.00,97.5,96.2,95.85,95.52,114.35,57.55,154698,"14,776,500.70",NaN
3,2001-12-26,EQ,97.00,99.45,95.00,95.85,96,96.40,96.98,114.35,57.55,255411,"24,770,390.70",NaN
2,2001-12-27,EQ,97.50,97.50,93.15,96.4,95.15,94.55,94.70,114.35,57.55,227696,"21,561,884.10",NaN
1,2001-12-28,EQ,93.50,97.10,93.00,94.55,96.45,96.50,94.99,114.35,57.55,239782,"22,777,068.80",NaN
0,2001-12-31,EQ,98.85,100.35,96.50,96.5,100,99.85,98.76,114.35,57.55,329319,"32,522,360.40",NaN

In [24]:
df=result[['close ']]

In [25]:
df.head()

     close
493  380.00
492  377.80
491  376.55
490  373.70
489  372.35

In [ ]:
df['close '] = df['close '].str.replace(',', '')

In [27]:
df['close '] = df['close '].astype(float)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1496 entries, 493 to 0
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   close   1496 non-null   float64
dtypes: float64(1)
memory usage: 23.4 KB

In [29]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
df=scaler.fit_transform(np.array(df).reshape(-1,1))

In [30]:
training_size=int(len(df)*0.65)
test_size= len(df)-training_size
train_data,test_data= df[0:training_size,:],df[training_size:len(df1),:1]

In [31]:
def create_dataset(dataset, timestep=1):
    dataX,dataY=[],[]
    for i in range (len(dataset)-timestep-1):
        a = dataset[i:(i+timestep),0]
        dataX.append(a)
        dataY.append(dataset[i+timestep,0])
    return np.array(dataX),np.array(dataY)

In [32]:
timestep=200
xtrain,ytrain=create_dataset(train_data,timestep)
xtest,ytest=create_dataset(test_data,timestep)

In [33]:
print(xtrain)

[[0.64485043 0.64043365 0.63792411 ... 0.73087733 0.72555712 0.73750251]
 [0.64043365 0.63792411 0.63220237 ... 0.72555712 0.73750251 0.72555712]
 [0.63792411 0.63220237 0.62949207 ... 0.73750251 0.72555712 0.7229472 ]
 ...
 [0.24653684 0.25336278 0.28167035 ... 0.3381851  0.33396908 0.33467175]
 [0.25336278 0.28167035 0.29371612 ... 0.33396908 0.33467175 0.33507328]
 [0.28167035 0.29371612 0.29953825 ... 0.33467175 0.33507328 0.33517366]]

In [34]:
print(ytrain)

[0.72555712 0.7229472  0.72364987 0.75155591 0.77253564 0.73910861
 0.7462357  0.74794218 0.71832965 0.71451516 0.71441478 0.70106404
 0.67175266 0.67396105 0.68691026 0.6942381  0.68179081 0.7256575
 0.72234491 0.6980526  0.70467778 0.70096366 0.68851636 0.66030917
 0.64023288 0.58773339 0.58913873 0.57157197 0.52499498 0.51887171
 0.52027705 0.47791608 0.46928328 0.47610922 0.5011042  0.50732785
 0.49357559 0.49598474 0.53764304 0.52047782 0.51345111 0.55741819
 0.57950211 0.56866091 0.56123268 0.57137121 0.56313993 0.55812086
 0.58191126 0.55922506 0.6055009  0.59817306 0.60178679 0.59164826
 0.57247541 0.58391889 0.5817105  0.59977916 0.59064445 0.57759486
 0.62617948 0.59174864 0.57568761 0.55400522 0.55430636 0.55219835
 0.55430636 0.59225055 0.59054407 0.57829753 0.55370408 0.52629994
 0.49979924 0.49939771 0.51003814 0.519474   0.52389078 0.52188316
 0.54768119 0.55069263 0.55239912 0.5692632  0.57809677 0.56615138
 0.57528609 0.5703674  0.57177274 0.55701666 0.56203574 0.55912467
 0.58361775 0.61232684 0.65438667 0.66422405 0.66281871 0.68851636
 0.70106404 0.67345914 0.64485043 0.65860269 0.66733588 0.6650271
 0.66161413 0.64254166 0.63280466 0.64645653 0.65177675 0.66894198
 0.66572977 0.65880345 0.5817105  0.59767115 0.6163421  0.61945392
 0.61403333 0.61222646 0.65308171 0.62828749 0.63882754 0.62838787
 0.64043365 0.65047179 0.66402329 0.67225457 0.68580606 0.68419996
 0.68460149 0.68118852 0.68440072 0.6964465  0.67335876 0.64725959
 0.63511343 0.63280466 0.63461152 0.62969283 0.60620357 0.62186308
 0.64444891 0.64756073 0.67084923 0.6894198  0.68490263 0.67265609
 0.6688416  0.67024694 0.6845011  0.67004618 0.67616944 0.67456334
 0.67606906 0.68259386 0.6894198  0.68711102 0.69243124 0.69202971
 0.6801847  0.68219233 0.68962056 0.69504116 0.73479221 0.73900823
 0.74814294 0.77534632 0.76249749 0.7911062  0.80686609 0.79823329
 0.7938165  0.78438065 0.77102991 0.77675166 0.77996386 0.79441879
 0.77885967 0.77645051 0.75777956 0.7397109  0.79150773 0.78538446
 0.76711504 0.73178077 0.71130295 0.69584421 0.69734993 0.67406143
 0.67928127 0.70086328 0.68118852 0.65448705 0.65860269 0.66583015
 0.66482634 0.67074885 0.6720538  0.67526601 0.67456334 0.69634612
 0.65087332 0.63842602 0.63882754 0.62929131 0.62899016 0.62909054
 0.62919093 0.63240313 0.6190524  0.60178679 0.58000402 0.57649066
 0.57498494 0.58512347 0.56524794 0.55029111 0.56595061 0.57167235
 0.57588838 0.58120859 0.59204979 0.5925517  0.5995784  0.58432042
 0.5925517  0.58954025 0.59737001 0.60138526 0.59194941 0.55079301
 0.5524995  0.53583618 0.51425417 0.53423007 0.5373419  0.54266212
 0.55661514 0.5665529  0.54637623 0.55290102 0.56936358 0.55671552
 0.55942582 0.57016663 0.58723148 0.57950211 0.5649468  0.55360369
 0.54667737 0.55280064 0.55039149 0.53513351 0.48966071 0.53714114
 0.5221843  0.53904838 0.56504718 0.55259988 0.55290102 0.56093154
 0.56484642 0.56524794 0.55209797 0.54748043 0.5167637  0.53543465
 0.51264806 0.51867095 0.52409155 0.50371411 0.50903433 0.50602289
 0.52860871 0.51264806 0.48986147 0.47189319 0.46576993 0.4626581
 0.44529211 0.44519173 0.42933146 0.39821321 0.41347119 0.42140133
 0.43605702 0.46255772 0.45462758 0.44499097 0.45502911 0.45231881
 0.44729974 0.43103794 0.43625778 0.48544469 0.47520578 0.47972295
 0.48474202 0.49658703 0.48152981 0.4696848  0.47048785 0.46125276
 0.44810279 0.42601887 0.431841   0.39600482 0.37201365 0.385264
 0.39148765 0.38707087 0.38827545 0.37462357 0.37241518 0.35474804
 0.35404537 0.35203774 0.35775949 0.34832363 0.32864887 0.33457137
 0.33908854 0.33447099 0.35083317 0.34179884 0.34009235 0.33888777
 0.35304156 0.36127284 0.35916483 0.35896406 0.3479221  0.35193736
 0.35153584 0.3766312  0.37924112 0.38245332 0.39680787 0.36579
 0.38044569 0.37683196 0.37542662 0.38556515 0.3798434  0.37462357
 0.36699458 0.37592853 0.37241518 0.39008231 0.40985746 0.43324634
 0.44258181 0.45372415 0.45693636 0.4361574  0.46757679 0.45141538
 0.46576993 0.46858061 0.51746637 0.52961253 0.52479422 0.49929733
 0.47751456 0.46978518 0.4475005  0.46827946 0.45111423 0.45904437
 0.45261996 0.44649669 0.45272034 0.43987151 0.44398715 0.43967075
 0.43465168 0.43485244 0.43987151 0.44980928 0.45211805 0.44308372
 0.43224252 0.41688416 0.40373419 0.40092351 0.42943184 0.41788797
 0.44398715 0.4420799  0.44278257 0.4269223  0.42571773 0.41899217
 0.40714716 0.42019675 0.39831359 0.38506324 0.36067055 0.34270227
 0.3214214  0.31790805 0.30154587 0.28829552 0.29612528 0.27574784
 0.27574784 0.28227264 0.25456736 0.2505521  0.28367798 0.27092953
 0.25075286 0.21832965 0.22515559 0.23408954 0.23880747 0.21843003
 0.21742622 0.21371211 0.21140333 0.1991568  0.18500301 0.19634612
 0.20457739 0.20738807 0.23338687 0.23569564 0.22043766 0.21993576
 0.22053804 0.22897009 0.22033728 0.19333467 0.17054808 0.17416181
 0.15729773 0.13541458 0.11814897 0.13712106 0.14334471 0.14464967
 0.1466573  0.14003212 0.14424814 0.16101185 0.16472596 0.17406143
 0.15107408 0.14464967 0.14725959 0.15539048 0.15197751 0.1482634
 0.14545272 0.16081108 0.17195342 0.16372214 0.15779964 0.15870307
 0.15539048 0.13993174 0.14053403 0.13471191 0.14023288 0.14224051
 0.15107408 0.16050994 0.17145152 0.16874122 0.16803855 0.16532825
 0.17396105 0.17265609 0.18118852 0.18279462 0.18068661 0.17616944
 0.17325838 0.17958241 0.18751255 0.18209195 0.17757478 0.16753664
 0.16101185 0.14183899 0.14454929 0.15197751 0.13862678 0.13762297
 0.12858864 0.12658101 0.12818711 0.10851235 0.09044369 0.07970287
 0.06936358 0.07910058 0.08572576 0.09997992 0.11242722 0.10359366
 0.10921502 0.10881349 0.10951616 0.10951616 0.10750853 0.12557719
 0.13681992 0.14976912 0.15137523 0.15669544 0.1623168  0.16522787
 0.15930536 0.17647059 0.17506525 0.16733588 0.16121261 0.15749849
 0.14595463 0.14414776 0.12437262 0.11383256 0.11282875 0.12186308
 0.12507529 0.12256575 0.12226461 0.12808673 0.14304357 0.14876531
 0.14946798 0.16221642 0.16894198 0.16241719 0.1596065  0.17486449
 0.15559125 0.16583015 0.18861674 0.19514154 0.19785184 0.21582012
 0.22756475 0.23077695 0.22063843 0.21039952 0.21551897 0.21381249
 0.24041357 0.25095362 0.26641237 0.29722947 0.33045573 0.31158402
 0.29903634 0.33246336 0.30957639 0.31208593 0.30706685 0.34109617
 0.32764505 0.30756876 0.31479623 0.30556113 0.307368   0.27946196
 0.27795623 0.27795623 0.27143144 0.26018872 0.24653684 0.25336278
 0.28167035 0.29371612 0.29953825 0.28257378 0.29552299 0.29351536
 0.29050391 0.28829552 0.26741618 0.26842    0.26791809 0.25637422
 0.24703875 0.25025095 0.23589641 0.25557117 0.25235896 0.25015057
 0.24984943 0.24151777 0.27032724 0.25356354 0.25637422 0.25436659
 0.24232082 0.23629793 0.23308573 0.22646055 0.2256575  0.21822927
 0.2451315  0.23609717 0.2272636  0.21521783 0.20538045 0.2202369
 0.21632202 0.18962056 0.17908051 0.19213009 0.18309576 0.16542863
 0.17004618 0.16422405 0.16603092 0.18881751 0.16603092 0.17717326
 0.17115037 0.17145152 0.16271833 0.16281871 0.14043365 0.14695844
 0.16221642 0.16914274 0.15298133 0.17466372 0.16402329 0.18660911
 0.20738807 0.20718731 0.21120257 0.22073881 0.2478418  0.27715318
 0.2673158  0.26821923 0.26972495 0.26139329 0.241317   0.23529412
 0.25035134 0.23358763 0.21923309 0.22344911 0.25085324 0.23639831
 0.25075286 0.26139329 0.28347721 0.27454326 0.29251154 0.28116844
 0.26681389 0.24844409 0.24041357 0.24372616 0.26199558 0.27203373
 0.2813692  0.29993977 0.32332865 0.29572375 0.30184702 0.30295121
 0.30586228 0.3089741  0.29532222 0.28508332 0.29572375 0.32162216
 0.31720538 0.32824734 0.36398314 0.40262999 0.4442883  0.4864485
 0.44107609 0.44328448 0.45161614 0.44117647 0.41186509 0.42973299
 0.4307368  0.42089942 0.40453724 0.40202771 0.38656896 0.36719534
 0.37141136 0.34551295 0.34772134 0.38355752 0.38927926 0.40273038
 0.44248143 0.41266814 0.41477615 0.40212809 0.38225256 0.41166432
 0.43816503 0.47861875 0.43425015 0.44850432 0.49387673 0.50321221
 0.48504316 0.50220839 0.51154387 0.51836981 0.50592251 0.48875728
 0.48785384 0.4778157  0.48825537 0.49247139 0.49668741 0.48674965
 0.49668741 0.49196948 0.49106605 0.45874322 0.46777755 0.44017266
 0.42682192 0.43304557 0.41999598 0.44398715 0.41427424 0.42029713
 0.42601887 0.42933146 0.41688416 0.40242923 0.40995784 0.39469986
 0.41628187 0.43485244 0.44187914 0.4388677  0.44388677 0.46627183
 0.4323429  0.42822726 0.45001004 0.44930737 0.44619554 0.45282072
 0.47420197 0.45221843 0.41849026 0.40172656 0.36649267 0.32774543
 0.33677976 0.32132102 0.3311584  0.35103393 0.34671753 0.35043164
 0.35595262 0.3479221  0.34340494 0.3381851  0.33396908 0.33467175
 0.33507328 0.33517366 0.32925115]

In [35]:
#reshape input to be [samples, timesteps, features] which is required for LSTM
xtrain=xtrain.reshape(xtrain.shape[0], xtrain.shape[1], 1)
xtest=xtest.reshape(xtest.shape[0], xtrain.shape[1], 1)

In [36]:
xtrain.shape

(771, 200, 1)

In [37]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [ ]:
#vanilla LSTM
model=Sequential()
model.add(LSTM(50, activation='relu', input_shape=(200,1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [38]:
#stacked LSTM
model=Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(200,1)))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss="mean_squared_error",optimizer="adam")

In [39]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 200, 50)           10400
_________________________________________________________________
lstm_1 (LSTM)                (None, 200, 50)           20200
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense (Dense)                (None, 1)                 51
=================================================================
Total params: 50,851
Trainable params: 50,851
Non-trainable params: 0
_________________________________________________________________

In [40]:
model.fit(xtrain,ytrain,validation_data=(xtest,ytest),epochs=100,batch_size=64,verbose=1)

Epoch 1/100
13/13 [==============================] - 55s 1s/step - loss: 0.0808
Epoch 2/100
13/13 [==============================] - 10s 675ms/step - loss: 0.0115
Epoch 3/100
13/13 [==============================] - 6s 492ms/step - loss: 0.0049
Epoch 4/100
13/13 [==============================] - 7s 497ms/step - loss: 0.0037
Epoch 5/100
13/13 [==============================] - 6s 473ms/step - loss: 0.0027
Epoch 6/100
13/13 [==============================] - 6s 472ms/step - loss: 0.0026
Epoch 7/100
13/13 [==============================] - 6s 467ms/step - loss: 0.0026
Epoch 8/100
13/13 [==============================] - 6s 467ms/step - loss: 0.0026
Epoch 9/100
13/13 [==============================] - 6s 494ms/step - loss: 0.0027
Epoch 10/100
13/13 [==============================] - 6s 489ms/step - loss: 0.0026
Epoch 11/100
13/13 [==============================] - 7s 502ms/step - loss: 0.0023
Epoch 12/100
13/13 [==============================] - 7s 523ms/step - loss: 0.0023
Epoch 13/100
13/13 [==============================] - 6s 486ms/step - loss: 0.0024
Epoch 14/100
13/13 [==============================] - 6s 480ms/step - loss: 0.0021
Epoch 15/100
13/13 [==============================] - 7s 536ms/step - loss: 0.0022
Epoch 16/100
13/13 [==============================] - 7s 542ms/step - loss: 0.0021
Epoch 17/100
13/13 [==============================] - 8s 633ms/step - loss: 0.0018
Epoch 18/100
13/13 [==============================] - 7s 515ms/step - loss: 0.0020
Epoch 19/100
13/13 [==============================] - 6s 477ms/step - loss: 0.0019
Epoch 20/100
13/13 [==============================] - 7s 579ms/step - loss: 0.0017
Epoch 21/100
13/13 [==============================] - 7s 492ms/step - loss: 0.0017
Epoch 22/100
13/13 [==============================] - 7s 534ms/step - loss: 0.0020
Epoch 23/100
13/13 [==============================] - 8s 583ms/step - loss: 0.0019
Epoch 24/100
13/13 [==============================] - 7s 537ms/step - loss: 0.0025
Epoch 25/100
13/13 [==============================] - 7s 537ms/step - loss: 0.0017
Epoch 26/100
13/13 [==============================] - 7s 509ms/step - loss: 0.0018
Epoch 27/100
13/13 [==============================] - 7s 513ms/step - loss: 0.0013
Epoch 28/100
13/13 [==============================] - 7s 536ms/step - loss: 0.0014
Epoch 29/100
13/13 [==============================] - 7s 526ms/step - loss: 0.0014
Epoch 30/100
13/13 [==============================] - 6s 488ms/step - loss: 0.0013
Epoch 31/100
13/13 [==============================] - 7s 555ms/step - loss: 0.0012
Epoch 32/100
13/13 [==============================] - 7s 542ms/step - loss: 0.0014
Epoch 33/100
13/13 [==============================] - 7s 559ms/step - loss: 0.0015
Epoch 34/100
13/13 [==============================] - 6s 463ms/step - loss: 0.0013
Epoch 35/100
13/13 [==============================] - 7s 565ms/step - loss: 0.0012
Epoch 36/100
13/13 [==============================] - 7s 499ms/step - loss: 0.0013
Epoch 37/100
13/13 [==============================] - 6s 486ms/step - loss: 0.0013
Epoch 38/100
13/13 [==============================] - 7s 498ms/step - loss: 0.0011
Epoch 39/100
13/13 [==============================] - 7s 514ms/step - loss: 0.0011
Epoch 40/100
13/13 [==============================] - 7s 532ms/step - loss: 9.8496e-04
Epoch 41/100
13/13 [==============================] - 7s 496ms/step - loss: 9.2743e-04
Epoch 42/100
13/13 [==============================] - 6s 482ms/step - loss: 9.5075e-04
Epoch 43/100
13/13 [==============================] - 6s 485ms/step - loss: 0.0014
Epoch 44/100
13/13 [==============================] - 6s 482ms/step - loss: 0.0015
Epoch 45/100
13/13 [==============================] - 6s 486ms/step - loss: 0.0012
Epoch 46/100
13/13 [==============================] - 6s 486ms/step - loss: 0.0011
Epoch 47/100
13/13 [==============================] - 6s 492ms/step - loss: 0.0016
Epoch 48/100
13/13 [==============================] - 7s 504ms/step - loss: 0.0012
Epoch 49/100
13/13 [==============================] - 7s 530ms/step - loss: 0.0014
Epoch 50/100
13/13 [==============================] - 7s 516ms/step - loss: 9.0791e-04
Epoch 51/100
13/13 [==============================] - 7s 505ms/step - loss: 8.1769e-04
Epoch 52/100
13/13 [==============================] - 6s 483ms/step - loss: 8.2948e-04
Epoch 53/100
13/13 [==============================] - 7s 533ms/step - loss: 7.9477e-04
Epoch 54/100
13/13 [==============================] - 7s 521ms/step - loss: 7.8403e-04
Epoch 55/100
13/13 [==============================] - 6s 495ms/step - loss: 8.7549e-04
Epoch 56/100
13/13 [==============================] - 6s 480ms/step - loss: 8.7049e-04
Epoch 57/100
13/13 [==============================] - 6s 474ms/step - loss: 0.0013
Epoch 58/100
13/13 [==============================] - 6s 500ms/step - loss: 0.0012
Epoch 59/100
13/13 [==============================] - 6s 445ms/step - loss: 0.0010
Epoch 60/100
13/13 [==============================] - 6s 450ms/step - loss: 6.9075e-04
Epoch 61/100
13/13 [==============================] - 6s 448ms/step - loss: 8.7950e-04
Epoch 62/100
13/13 [==============================] - 6s 451ms/step - loss: 7.9971e-04
Epoch 63/100
13/13 [==============================] - 7s 540ms/step - loss: 6.8572e-04
Epoch 64/100
13/13 [==============================] - 7s 556ms/step - loss: 6.8427e-04
Epoch 65/100
13/13 [==============================] - 7s 518ms/step - loss: 8.4398e-04
Epoch 66/100
13/13 [==============================] - 6s 489ms/step - loss: 6.0856e-04
Epoch 67/100
13/13 [==============================] - 6s 449ms/step - loss: 8.6544e-04
Epoch 68/100
13/13 [==============================] - 7s 513ms/step - loss: 7.7745e-04
Epoch 69/100
13/13 [==============================] - 6s 466ms/step - loss: 7.0284e-04
Epoch 70/100
13/13 [==============================] - 6s 449ms/step - loss: 6.0422e-04
Epoch 71/100
13/13 [==============================] - 6s 441ms/step - loss: 7.1441e-04
Epoch 72/100
13/13 [==============================] - 6s 437ms/step - loss: 6.0469e-04
Epoch 73/100
13/13 [==============================] - 6s 443ms/step - loss: 6.6008e-04
Epoch 74/100
13/13 [==============================] - 6s 487ms/step - loss: 6.3729e-04
Epoch 75/100
13/13 [==============================] - 6s 449ms/step - loss: 6.1105e-04
Epoch 76/100
13/13 [==============================] - 6s 448ms/step - loss: 5.7676e-04
Epoch 77/100
13/13 [==============================] - 6s 446ms/step - loss: 5.6891e-04
Epoch 78/100
13/13 [==============================] - 6s 441ms/step - loss: 6.0878e-04
Epoch 79/100
13/13 [==============================] - 6s 451ms/step - loss: 6.1362e-04
Epoch 80/100
13/13 [==============================] - 7s 544ms/step - loss: 7.1721e-04
Epoch 81/100
13/13 [==============================] - 7s 548ms/step - loss: 5.7872e-04
Epoch 82/100
13/13 [==============================] - 7s 526ms/step - loss: 5.4030e-04
Epoch 83/100
13/13 [==============================] - 6s 453ms/step - loss: 5.0763e-04
Epoch 84/100
13/13 [==============================] - 6s 444ms/step - loss: 4.9877e-04
Epoch 85/100
13/13 [==============================] - 6s 445ms/step - loss: 5.1897e-04
Epoch 86/100
13/13 [==============================] - 6s 470ms/step - loss: 4.7689e-04
Epoch 87/100
13/13 [==============================] - 6s 443ms/step - loss: 4.8558e-04
Epoch 88/100
13/13 [==============================] - 6s 446ms/step - loss: 5.3390e-04
Epoch 89/100
13/13 [==============================] - 6s 464ms/step - loss: 5.9838e-04
Epoch 90/100
13/13 [==============================] - 6s 456ms/step - loss: 4.9326e-04
Epoch 91/100
13/13 [==============================] - 6s 459ms/step - loss: 4.4617e-04
Epoch 92/100
13/13 [==============================] - 6s 461ms/step - loss: 5.4008e-04
Epoch 93/100
13/13 [==============================] - 7s 504ms/step - loss: 5.4761e-04
Epoch 94/100
13/13 [==============================] - 6s 501ms/step - loss: 5.1741e-04
Epoch 95/100
13/13 [==============================] - 7s 580ms/step - loss: 4.4820e-04
Epoch 96/100
13/13 [==============================] - 6s 497ms/step - loss: 5.0675e-04
Epoch 97/100

13/13 [==============================] - 6s 449ms/step - loss: 4.4790e-04
Epoch 98/100
13/13 [==============================] - 6s 454ms/step - loss: 5.2378e-04
Epoch 99/100
13/13 [==============================] - 6s 458ms/step - loss: 4.0474e-04
Epoch 100/100
13/13 [==============================] - 8s 586ms/step - loss: 5.0589e-04

In [218]:
testf1= pd.read_csv('Quote-Equity-MARUTI-EQ-01-01-2003-to-31-12-2004.csv')

In [219]:
testf2= pd.read_csv('Quote-Equity-MARUTI-EQ-01-01-2005-to-31-12-2006.csv')

In [220]:
testf3= pd.read_csv('Quote-Equity-MARUTI-EQ-01-01-2007-to-31-12-2008.csv')

In [221]:
tframes1 = [testf1,testf2]

In [222]:
tresult = pd.concat(tframes1)

In [223]:
tresult.columns

Index(['Date', 'series', 'OPEN', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ',
       'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades ', 'Date ', 'series ', 'OPEN '],
      dtype='object')

In [229]:
testf1['Date'] = pd.to_datetime(testf1['Date'], errors='coerce')

In [230]:
testf1 = testf1.sort_values(by='Date')

In [231]:
tdf=testf1[['close ']]

In [233]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
tdf=scaler.fit_transform(np.array(tdf).reshape(-1,1))

In [234]:
timestep=200
testx,testy=create_dataset(tdf,timestep)

In [235]:
testx.shape   , testy.shape

((177, 200), (177,))

In [236]:
testx=testx.reshape(testx.shape[0], testx.shape[1], 1)

In [237]:
predict=model.predict(testx)

In [243]:
testx.shape

(177, 200, 1)

In [244]:
predict = scaler.inverse_transform(predict)

In [240]:
import math
from sklearn.metrics import mean_absolute_error
math.sqrt(mean_absolute_error(testy,predict))

0.14893393145225026